@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

nav {
  padding: 20px 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
nav a,
nav i {
  font-size: 18px;
  font-weight: 500;
}
nav a:is(:hover, :focus-visible) {
  text-decoration: underline;
  color: rgb(100, 100, 100);
}
nav i {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav i:is(:hover, :focus-visible) {
  background-color: rgb(80, 80, 80);
}

main h1 {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1;
  margin-top: 2rem;
  color: rgb(20, 20, 20);
}
.middle {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.left p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  color: rgb(50, 50, 50);
}

.right {
  width: 20%;
}
.right div {
  padding: 15px 0;
  border-top: 2px solid rgb(56, 56, 56);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right div a {
  font-size: 18px;
  color: rgb(99, 99, 99);
  transition: all 0.3s ease-in-out;
}
.right div:is(:hover, :focus-visible) a {
  text-decoration: underline;
  color: rgb(20, 20, 20);
}
.right div i {
  font-size: 20px;
  color: rgb(99, 99, 99);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.right div:is(:hover, :focus-visible) i {
  opacity: 1;
  color: rgb(20, 20, 20);
}

.bottom {
  width: 100%;
  height: 30vh;
  background: url("https://images.unsplash.com/photo-1542992015-4a0b729b1385?q=80&w=1789&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: contain;
  background-position: 0 20%;
}
